.main {
  background-color: #f5f6f9;
}

.bold {
  font-weight: bolder;
}

.myBorder {
  border: 2px solid red;
}

/* .scrollbar-hidden {
  scrollbar-width: none; 
  -ms-overflow-style: none;
  overflow: none;
} */

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
